header{


    background-color: rgba(240, 82, 82, 0.596);/*cor de fundo do cabeçario*/
    color: rgb(104, 167, 192);/*cor da fonte*/
    text-align-last: center;
    max-width: 800;
    margin: 0 auto;/*configura margens*/
    padding: 0px; /*espaçamento interno*/
    border: 5px solid rgb(203, 123, 223);
}





main{
background-color: lightpink;
    color: lightgray;
    text-align: center; /*alinha o texto ao centro*/
    max-width: 800px;/*largura maxima
    margin: 0 auto;/*configura margens*/
}


footer{
background-color: rgb(230, 96, 96); 
color: #8f73bd;

}

