header{


    background-color: rgba(235, 150, 243, 0.596);/*cor de fundo do cabeçario*/
    color: rgb(104, 167, 192);/*cor da fonte*/
    text-align-last: center;
    max-width: 800;
    margin: 0 auto;/*configura margens*/
    padding: 0px; /*espaçamento interno*/
    border: 5px solid lab(78.77% 38.44 -32.02);
}





main{
background-color: rgb(45, 233, 192);
    color: lightgray;
    text-align: center; /*alinha o texto ao centro*/
    max-width: 800px;/*largura maxima
    margin: 0 auto;/*configura margens*/
    padding: 16px;/*habilita o uso de flex box*/
    display: table-row;/*orienta os elementos na hori*/
    flex-direction: row;
}


footer{
background-color: #e4a6f7; 
color: #8f73bd;
max-width: 800px;

}

img{
width: 80px;/*largura*/
height: 80px;/*largura*/
}

 .artigo-autor{
    font-weight: bold;


}