header{


    background-color: rgba(235, 150, 243, 0.596);/*cor de fundo do cabeçario*/
    color: rgb(253, 147, 248);/*cor da fonte*/
    text-align-last: center;
    max-width: 800;
    margin: 0 auto;/*configura margens*/
    padding: 0px; /*espaçamento interno*/
    border: 5px solid lab(63.07% 36.9 -30.31);
}





main{
background-color: rgb(255, 152, 203);
    color: lightgray;
    text-align: center; /*alinha o texto ao centro*/
    max-width: 800px;/*largura maxima
    margin: 0 auto;/*configura margens*/
    padding: 16px;/*habilita o uso de flex box*/
    display: table-row;/*orienta os elementos na hori*/
    flex-direction: row;
}


footer{
background-color: #121113; 
color: #8f73bd;
max-width: 800px;

}

img{
width: 80px;/*largura*/
height: 80px;/*largura*/
}

 .artigo-autor{
    font-weight: bold;


}